.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.center td {
  text-align: left;
}

.source {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-text {
  margin-bottom: 10px;
}

.unity td {
  text-align: left;
}

.unity li {
  margin-left: 10px;
}

.unity ul li {
  list-style-type: none;
}

.method-row:hover {
  border-left: 1px solid #000;
}

.link-preview {
  width: 600px;
  height: 600px;
}

.thumbnail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumbnail {
  cursor: pointer;
}


.survey-link:hover {
  background-color: unset !important;
  text-decoration: underline !important;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.no-background {
  background-color: unset !important;
}

.margin-top-teaching {
  margin-top: 20px;
}

select {
  text-overflow: ellipsis;
}
